<app-topbar></app-topbar>
<app-sidenav *ngIf="toggled"></app-sidenav>


<div fxLayout="row wrap" fxLayoutAlign="center center" class="content" fxLayoutGap="grid">
  <router-outlet></router-outlet>
</div>